body {
  text-align:center;
  font-family: Arial;
  color: white;
  background-color: rgb(151, 149, 149);
}
h3 {
  text-align:center !important;
  font-family: helvetica !important;
}
canvas {
  border: 3px solid rgb(151, 149, 149);
}
